$def with (contentList)

<html>
	<head>
		<title>You are now writing better!</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js" type="text/javascript"></script>

		<script type="text/javascript">
			jQuery(document).ready(function() {
			var jsonarray = $:(contentList)
			for (i in jsonarray) {
				console.log(jsonarray[i])
				var jsonobj = jsonarray[i]
				var jsonword = jsonobj.word
				var isSpecialChar = jsonobj.specialChar
				if (isSpecialChar == true) {
					if (jsonobj.word == "space") {
						jQuery('#yourwriting').append("&nbsp;")
					}
				} else {
					jQuery('#yourwriting').append(jsonword)
				}
			}
		});

		</script>
	</head>

	<body>
		You are amazing at writing!
		<br>
		<br>

		<div id="yourwriting">
		</div>

		
	</body>
</html>