$def with (form)

<html>
	<head>
		<title>Ready to Analyze</title>
		<link rel="shortcut icon" href="static/favicon.png" type-"image/x-icon" />

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
		<script type="text/javascript" src="static/jquery.cookie.js"></script>
		<script type="text/javascript" src="static/jqModal.js"></script>
		<link rel="stylesheet" type="text/css" href="static/hello.css"/>
		<link rel="stylesheet" type="text/css" href="static/jqModal.css"/>
		<script type="text/javascript">
			var username = null
			var password = null
			jQuery(document).ready(function() {
				jQuery("#content").css("width", 880)

				toggleInfo = function () {
					jQuery("#info").slideToggle()
				}


				var cookie = jQuery.cookie('userinfo')
				var usrname = null
				var pass = null

				if (cookie == null) {
					alert('no cookie found. unauthorized punk.')
				} else {
					var userJSON = JSON.parse(cookie)
					usrname = userJSON.username
					pass = userJSON.password
					username = userJSON.username
					password = userJSON.password

				}

				jQuery("#loadbutton").click(function () {
					var name = prompt("Please enter the title", "'GOTO' Considered Harmful");
					jQuery.post("/load", {"username" : usrname, "password" : pass, "title" : name}, function (data) {
						jQuery("#content").val(data.rawText);
						jQuery("#submitbutton").click()
					}, "json");
				});

				var loadDocument = function (name) {
					console.log("LOLO")
					jQuery.post("/load", {"username" : username, "password" : password, "title" : name}, function (data) {
						jQuery("#content").val(data.rawText);
						jQuery("#submitbutton").click()
					}, "json");
				}

				jQuery.post("/getAllDocs", {"username" : usrname, "password" : pass}, function (data) {
						console.log(data);
						jQuery("#documentList").text("")
						for (var doc in data) {
							var json = data[doc]
							var title = json.title
							//jQuery("#documentList").append(title)
							var link = document.createElement("a");
							link.setAttribute("href", "#");
							link.innerHTML = title;
							link.onclick = function () {
								loadDocument(title)
							}
							//jQuery("#documentList").append("<a href='#' onclick=loadDocument("+title+")>"+title+"</a>");
							jQuery("#documentList").append(link);
						}
				}, "json");

			});
		</script>

		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-27841981-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</head>

	<body>
		<div class="topbar">
			<div class="fill">
				<div class="container">
					<a class="brand" href="#">Write Better With Us</a>
					<ul class="nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="sidebar">
				<div class="well">
					<h5>Quick Navigation</h5>
					<ul>
						<li><button class="btn" id="loadbutton">Load</button></li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="span16">
					<div class="jqmWindow" id="docList">
						<a href="#" class="jqmClose">Close</a>
						<hr>
						<em>woo</em>
						<br>This is pretty cool
					</div>
				</div>
			</div>

			<div class="content">

				<div class="row">
					<div id="info" class="span-one-third offset-one-third">
						<h3>So you wanted to learn more?</h3>
						<p><span class="label notice">Notice</span> Everything's still under development, but go ahead and submit some text below. This demo app will detect repetitions in writing. Just paste your text in the box and click "edit text".</p>
					</div>

				<div class="row">
					<div class="span16" id="docListContainer">
						<h3>List of documents you have</h3>
					</div>
				</div>
						
				<div class="row">
					<div class="span16" id="documentList">
					</div>
				</div>

				<div class="row">
					<div class="span16">
						<h2>Text goes below.</h2>
						<div class="clearfix" id="textform">
							<form name="inputform" method="POST">
								$if not form.valid: <p>Sorry, your input was invalid.</p>
								$:form.render()
								<input type="submit" id="submitbutton" value="Analyze Text" />
							</form>
						</div>
					</div>
				</div>

				<footer>
				<p>&copy; Ajay and Kevin 2011</p>
				</footer>
			</div>
		</div>
	</body>
</html>