$def with (usersDB)

<html>
	<head>
		<title>Kiwis, man.</title>
		<link rel="stylesheet" type="text/css" href="static/register.css"/>
		<link rel="shortcut icon" href="static/favicon.png" type-"image/x-icon" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js" type="text/javascript"></script>
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
		<script type="text/javascript" src="static/jshash-2.2/sha1.js"></script>
		<script type="text/javascript" src="static/jquery.cookie.js"></script>

		<script type="text/javascript">
			jQuery(document).ready(function() {

				jQuery("#content").css("width", 880);

				toggleInfo = function () {
					jQuery("#info").slideToggle()
				}

				//auto log in if you already have the cookie and you match
				var cookie = jQuery.cookie('userinfo')
				if (cookie != null) {
					var userJSON = JSON.parse(cookie)
					jQuery.post("/verify", {'username' : userJSON.username, 'token' : userJSON.password}, function (data) {
						if (data == "verified") {
							jQuery("#cookiediv").slideDown()
							var t = setTimeout("redirectPage()", 2000);
							redirectPage = function () {
								window.location = "./start";
							}
						} else {
							alert("your credentials are no good. please re log-in")
						}
					})
				}

				jQuery("#register").click(function () {
					var hashedpassword = b64_sha1(jQuery("#password").val())

					jQuery.post("/register", {username: jQuery("#username").val(), password: hashedpassword}, function (data) {
						if (data == "already exists") {
							alert('Your username has already been taken. Sorry!');
						} else if (data == "woo yeah") {
							jQuery("#registerdiv").slideUp()
							jQuery("#thanksdiv").slideDown()
							var jsonText = JSON.stringify({username: jQuery("#username").val(), password: hashedpassword})
							jQuery.cookie('userinfo',jsonText);
							var t = setTimeout("redirectPage()",2000);

							redirectPage = function () {
								window.location = "./start";
							}
						} else {
							alert('wtf')
						}
					});
				});

				jQuery("#loginsubmit").click(function () {
					var hashedpassword = b64_sha1(jQuery("#loginpassword").val());

					jQuery.post("/login", {username: jQuery("#loginusername").val(), password: hashedpassword}, function (data) {
						if (data == "great") {
							jQuery("#thankslogindiv").slideDown()
							var jsonText = JSON.stringify({username: jQuery("#loginusername").val(), password: hashedpassword})
							jQuery.cookie('userinfo', jsonText);
							var t = setTimeout("redirectPage()",2000);

							redirectPage = function () {
								window.location = "./start";
							}
						} else if (data == "no match") {
							alert("Sorry, your credentials suck");
							jQuery("#loginusername").select()
						} else {
							alert('wtf')
						}
					});
				});


			});
		</script>

		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-27841981-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</head>

	<body>
		<div class="topbar">
			<div class="fill">
				<div class="container">
					<a class="brand" href="#">Write Better With Us</a>
					<ul class="nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
					<div id="logindiv">
						<input class="input-small" type="text" placeholder="Username" id="loginusername">
						<input class="input-small" type="password" placeholder="Password" id="loginpassword">
						<button class="btn" type="submit" id="loginsubmit">Sign in</button>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="hero-unit">
				<h1>Welcome!</h1>
				<p>We'll get you writing better right away.</p>
				<p><a href="#" onclick="toggleInfo()" class="btn primary large">Learn more &raquo;</a></p>
			</div>

			<div class="row">
				<div id="info" class="span-one-third offset-one-third">
					<h3>So you wanted to learn more?</h3>
					<p><span class="label notice">Notice</span> This site is pretty awesome; that's all you need to know.</p>
				</div>
			</div>

			<div class="row" id="thanksdiv">
				<div class="span16">
					<h2>Thanks for registering!</h2> 

					You will be redirected soon...
				</div>
			</div>

			<div class="row" id="thankslogindiv">
				<div class="span16">
					<h2>Thanks for logging in!</h2> 

					You will be redirected soon...
				</div>
			</div>

			<div class="row" id="cookiediv">
				<div class="span16">
					<h2>You got a cookie!</h2> 

					You will be redirected soon...
				</div>
			</div>

			<div class="row" id="registerdiv">
				<div class="span16">
					<h2>Please register!</h2>
					<div class="clearfix">
						<label for="username">Username</label>
						<div class="input">
							<input class="xlarge" id="username" name="username" size="30" type="text">
						</div>
					</div>
					<br>
					<div class="clearfix">
						<label for="password">Password</label>
						<div class="input">
							<input class="xlarge" id="password" name="password" size="20" type="password">
						</div>
					</div>
					<br>
					<div class="clearfix">
						<label for="password">E-mail</label>
						<div class="input">
							<input class="xlarge" id="email" name="email" size="20" type="email">
						</div>
					</div>
					<div class="clear"></div>
					<div class="actions">
						<input type="submit" id="register" class="btn primary" value="Register">
					</div>
				</div>
			</div>

			
			<footer>
				<p>&copy; Ajay and Kevin 2011</p>
			</footer>
		</div>




	</body>
</html>